<DOCTYPE! HTML>

{% load static %}

<html>

<head>
	<link rel="stylesheet" href="{% static 'css/checkmark.css' %}">
</head>

<body>

	<div id="show">
		<svg class="checkmark" viewBox="0 0 52 52">
			<circle class="checkmark__circle" cx="100" cy="100" r="49" fill="none" />
			<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
		</svg>
	</div> 
	
	<h2> You may now close this window...</h2>
	<h2> Thanks for completing the Expression of Interest Form. You have finished the first stage of the process ... </h2>

</body>

</html>